/*styles page for the about and index pages*/

h1{
    font-family: 'Times New Roman', Times, serif;
}

li{
    padding-bottom: 10px;
}

.intro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.paddigSpace{
    padding-bottom: 20px;
}

